* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 400px;
  height: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.field {
  border: 3px solid black;
  display: flex;
  flex-basis: calc(50%);
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 50%;
  align-items: center;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.field img {
  height: 50px;
  margin: 20px;
}
.lhand {
  border-top-left-radius: 100%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.rhand {
  border-top-right-radius: 100%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.lleg {
  border-bottom-left-radius: 100%;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.rleg {
  border-bottom-right-radius: 100%;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.circle {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid black;
  border-radius: 50%;
}
.arrow {
  height: 320px;
  width: 10px;
  border-radius: 1000px;
  background-color: rgb(0, 138, 138);
  transform: translate(-50%, -100%) rotate(0);
  position: absolute;
  transform-origin: bottom;
  transition: 3s;
  top: 50%;
  left: 50%;
  z-index: 11111;
}
button {
  padding: 15px 30px;
  background-color: transparent;
  color: red;
  border: 2px solid red;
  transition: 0.3s;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 24px;
}
button:hover {
  background-color: red;
  color: white;
}
.hm {
  transform: translate(-50%, -50%) rotate(0);
  position: absolute;
  transform-origin: bottom;
  transition: 3s;
  top: 50%;
  left: 50%;
  z-index: 11111;
}
